openapi: 3.2.0
info:
  title: Custom Regions Global Content Regions API
  version: 1.0.0
  description: Site-scoped **Custom Regions** and the read-only **Global Content Regions** catalog.
servers:
- url: https://api.zype.com/
security:
- api_key: []
tags:
- name: Global Content Regions
  description: Read-only platform catalog shared across all sites.
paths:
  /v3/global_content_regions:
    get:
      tags:
      - Global Content Regions
      summary: List Global Content Regions
      description: Retrieve the platform global content region catalog.
      operationId: listGlobalContentRegions
      parameters: []
      responses:
        '200':
          description: Response will contain an array of global content regions, ordered by name (case-insensitive).
          content:
            application/json:
              schema:
                $ref: '#/paths/~1v3~1content_regions/get/responses/200/content/application~1json/schema'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/paths/~1v3~1content_regions/get/responses/403/content/application~1json/schema'
  /v3/global_content_regions/{id}:
    get:
      tags:
      - Global Content Regions
      summary: View Global Content Region
      description: 'Retrieve a single global content region by id from the platform catalog.

        Read-only. Same response shape as custom content regions.'
      operationId: getGlobalContentRegion
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: ID of the global content region (from the catalog).
      responses:
        '200':
          description: Return global content region.
          content:
            application/json:
              schema:
                $ref: '#/paths/~1v3~1content_regions/post/responses/201/content/application~1json/schema'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/paths/~1v3~1content_regions/get/responses/403/content/application~1json/schema'
        '404':
          description: Global content region not found
          content:
            application/json:
              schema:
                $ref: '#/paths/~1v3~1content_regions/get/responses/403/content/application~1json/schema'
components:
  securitySchemes:
    api_key:
      type: apiKey
      name: api_key
      in: query
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: OAuth access token
      description: OAuth access token of the consumer
