openapi: 3.2.0
info:
  title: Platform Program Guides API
  version: 1.0.0
  description: ''
servers:
- url: https://api.zype.com/
security:
- api_key: []
tags:
- name: Program Guides
paths:
  /program_guides:
    get:
      summary: List Program Guides
      description: ''
      tags:
      - Program Guides
      operationId: listProgramGuides
      parameters:
      - name: id
        $ref: '#/paths/~1devices/get/parameters/1'
      - name: created_at
        $ref: '#/paths/~1devices/get/parameters/2'
      - name: q
        $ref: '#/paths/~1devices/get/parameters/3'
      - name: order
        $ref: '#/paths/~1videos/get/parameters/29'
      - name: sort
        $ref: '#/paths/~1playlists~1%7Bid%7D~1videos/get/parameters/3'
      - name: page
        $ref: '#/paths/~1playlists~1%7Bid%7D~1videos/get/parameters/1'
      - name: per_page
        $ref: '#/paths/~1playlists~1%7Bid%7D~1videos/get/parameters/2'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                title: ProgramGuidesResponse
                type: object
                properties:
                  response:
                    type: array
                    items:
                      $ref: '#/paths/~1program_guides/post/responses/201/content/application~1json/schema/properties/response'
                    description: ''
                  pagination:
                    $ref: '#/paths/~1videos/get/responses/200/content/application~1json/schema/properties/pagination'
        '422':
          description: Unprocessable entity
          content:
            application/json:
              schema:
                $ref: '#/paths/~1videos/get/responses/422/content/application~1json/schema'
    post:
      summary: Create Program Guide
      description: ''
      tags:
      - Program Guides
      operationId: createProgramGuide
      requestBody:
        description: ''
        required: true
        content:
          application/json:
            schema:
              title: ProgramGuideRequest
              type: object
              required:
              - program_guide
              properties:
                program_guide:
                  type: object
                  title: ProgramGuideProperties
                  required:
                  - name
                  - url
                  - language
                  - time_zone
                  properties:
                    name:
                      type: string
                    url:
                      type: string
                      description: Source URL used to sync content for the program guide
                    language:
                      type: array
                      description: Two letter abbreviation of the language used to import content for the program guide (`en`, `fr`)
                      items:
                        type: string
                    time_zone:
                      type: string
                      description: Time zone offset for the program guide
                    video_ids:
                      description: List of video ids you wish to add to the program guide.
                      type: array
                      items:
                        type: string
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                title: ProgramGuideResponse
                type: object
                properties:
                  response:
                    type: object
                    title: ProgramGuide
                    properties:
                      _id:
                        type: string
                      created_at:
                        type: string
                      language:
                        type: string
                      name:
                        type: string
                      program_guide_entry_count:
                        type: integer
                      refreshed_at:
                        type: string
                      site_id:
                        type: string
                      status:
                        type: string
                      time_zone:
                        type: string
                      updated_at:
                        type: string
                      url:
                        type: string
                      videos:
                        type: array
        '422':
          description: Unprocessable entity
          content:
            application/json:
              schema:
                $ref: '#/paths/~1videos/get/responses/422/content/application~1json/schema'
  /program_guides/{id}:
    get:
      summary: View Program Guide
      description: ''
      tags:
      - Program Guides
      operationId: getProgramGuide
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: ID of program guide
      responses:
        '200':
          description: Return a program guide
          content:
            application/json:
              schema:
                $ref: '#/paths/~1program_guides/post/responses/201/content/application~1json/schema'
        '404':
          description: Program guide not found
          content:
            application/json:
              schema:
                $ref: '#/paths/~1app/get/responses/404/content/application~1json/schema'
    put:
      summary: Update Program Guide
      description: ''
      tags:
      - Program Guides
      operationId: updateProgramGuide
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: ID of program guide
      requestBody:
        description: ''
        required: true
        content:
          application/json:
            schema:
              $ref: '#/paths/~1program_guides/post/requestBody/content/application~1json/schema'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/paths/~1program_guides/post/responses/201/content/application~1json/schema'
        '404':
          description: Program guide not found
          content:
            application/json:
              schema:
                $ref: '#/paths/~1app/get/responses/404/content/application~1json/schema'
        '422':
          description: Unprocessable entity
          content:
            application/json:
              schema:
                $ref: '#/paths/~1videos/get/responses/422/content/application~1json/schema'
    delete:
      summary: Delete Program Guide
      description: ''
      tags:
      - Program Guides
      operationId: deleteProgramGuide
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: ID of program guide
      responses:
        '204':
          description: Program guide deleted successfully
          content:
            application/json:
              schema:
                $ref: '#/paths/~1program_guides/post/responses/201/content/application~1json/schema'
        '404':
          description: Program guide not found
          content:
            application/json:
              schema:
                $ref: '#/paths/~1app/get/responses/404/content/application~1json/schema'
  /program_guides/{id}/entries:
    get:
      summary: List Program Guide Entries
      description: ''
      tags:
      - Program Guides
      operationId: listProgramGuideEntries
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: ID of program guide
      - name: title
        in: query
        schema:
          type: string
        description: Title of the program guide
      - name: created_at
        $ref: '#/paths/~1devices/get/parameters/2'
      - name: q
        $ref: '#/paths/~1devices/get/parameters/3'
      - name: order
        $ref: '#/paths/~1videos/get/parameters/29'
      - name: sort
        $ref: '#/paths/~1playlists~1%7Bid%7D~1videos/get/parameters/3'
      - name: page
        $ref: '#/paths/~1playlists~1%7Bid%7D~1videos/get/parameters/1'
      - name: per_page
        $ref: '#/paths/~1playlists~1%7Bid%7D~1videos/get/parameters/2'
      - name: start_time
        in: query
        schema:
          type: string
        description: 'Filter records by start_time using times in ISO8601 format (Example: `2017-01-01T00:00:00-00:00`) or Unix timestamps (Example: `1483228800`) **Note**: Range filters can be applied by adding a suffix: ‘.gt’, ‘.gte’, ‘.lt’, ‘lte’ (Example: `start_time.gte`)'
      - name: end_time
        in: query
        schema:
          type: string
        description: 'Filter records by end_time using times in ISO8601 format (Example: `2017-01-01T00:00:00-00:00`) or Unix timestamps (Example: `1483228800`) **Note**: Range filters can be applied by adding a suffix: ‘.gt’, ‘.gte’, ‘.lt’, ‘lte’ (Example: `end_time.gte`)'
      - name: disable_pagination
        in: query
        schema:
          type: boolean
        description: When true, all results are returned in a single JSON body without pagination. Default `false`
      responses:
        '200':
          description: Return program guide entries
          content:
            application/json:
              schema:
                title: ProgramGuideEntriesResponse
                type: object
                properties:
                  response:
                    type: array
                    items:
                      type: object
                      title: Program Guide Entry
                      properties:
                        _id:
                          type: string
                        category:
                          type: array
                        created_at:
                          type: string
                        description:
                          type: string
                        duration:
                          type: integer
                        end_time:
                          type: string
                        program_guide_id:
                          type: string
                        start_time:
                          type: string
                        subtitle:
                          type: string
                        time_zone:
                          type: string
                        title:
                          type: string
                        updated_at:
                          type: string
                        start_time_with_offset:
                          type: string
                        end_time_with_offset:
                          type: string
                    description: ''
                  pagination:
                    $ref: '#/paths/~1videos/get/responses/200/content/application~1json/schema/properties/pagination'
        '404':
          description: Program guide not found
          content:
            application/json:
              schema:
                $ref: '#/paths/~1app/get/responses/404/content/application~1json/schema'
components:
  securitySchemes:
    api_key:
      type: apiKey
      name: api_key
      in: query
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: OAuth access token
      description: OAuth access token of the consumer
