openapi: 3.2.0
info:
  title: Analytics (V2) New Subscriptions API
  version: 1.0.0
  description: ''
servers:
- url: https://analytics.zype.com
security:
- api_key: []
tags:
- name: New Subscriptions
paths:
  /v2/subscriptions:
    get:
      x-server-name: analytics-api
      summary: List New Subscriptions
      description: This endpoint will return new subscription analytics data for your property.
      tags:
      - New Subscriptions
      operationId: new-subscriptions
      parameters:
      - name: filters[start_date_gt]
        in: query
        schema:
          type: string
        description: Filter records created after the specified `start_date` (filters[start_date_gte]=2018-11-01). If no `start_date` is specified, then data returned will date back two weeks ago.
      - name: filters[start_date_gte]
        in: query
        schema:
          type: string
        description: Filter records created on or after the specified `start_date`.
      - name: filters[start_date_lt]
        in: query
        schema:
          type: string
        description: Filter records created before the specified `start_date`.
      - name: filters[start_date_lte]
        in: query
        schema:
          type: string
        description: Filter records created on or before the specified `start_date`.
      - name: filters[start_date_eq]
        in: query
        schema:
          type: string
        description: Filter records created on the specified `start_date`. Comparison is date and time specific. If no time values are submitted, 00:00:00 UTC is assumed.
      - name: filters[discount_percent_gt]
        in: query
        schema:
          type: number
        description: Filter records where `discount_percent` is greater than the specified value.
      - name: filters[discount_percent_gte]
        in: query
        schema:
          type: number
        description: Filter records where `discount_percent` is greater than or equal to the specified value.
      - name: filters[discount_percent_lt]
        in: query
        schema:
          type: number
        description: Filter records where `discount_percent` is less than the specified value`.
      - name: filters[discount_percent_lte]
        in: query
        schema:
          type: number
        description: Filter records where `discount_percent` is less than or equal to the specified value.
      - name: filters[discount_percent_eq]
        in: query
        schema:
          type: number
        description: Filter records where `discount_percent` is equal to the specified value`.
      - name: filters[discount_amount_gt]
        in: query
        schema:
          type: string
        description: Filter records where `discount_amount` is greater than the specified value.
      - name: filters[discount_amount_gte]
        in: query
        schema:
          type: string
        description: Filter records where `discount_amount` is greater than or equal to the specified value.
      - name: filters[discount_amount_lt]
        in: query
        schema:
          type: string
        description: Filter records where `discount_amount` is less than the specified value.
      - name: filters[discount_amount_lte]
        in: query
        schema:
          type: string
        description: Filter records where `discount_amount` is less than or equal to the specified value.
      - name: filters[discount_amount_eq]
        in: query
        schema:
          type: string
        description: Filter records where `discount_amount` is equal to the specified value.
      - name: filters[discount_duration_months_gt]
        in: query
        schema:
          type: integer
        description: Filter records where `discount_duration_months` is greater than the specified value.
      - name: filters[discount_duration_months_gte]
        in: query
        schema:
          type: integer
        description: Filter records where `discount_duration_months` is greater than or equal to the specified value.
      - name: filters[discount_duration_months_lt]
        in: query
        schema:
          type: integer
        description: Filter records where `discount_duration_months` is less than the specified value.
      - name: filters[discount_duration_months_lte]
        in: query
        schema:
          type: integer
        description: Filter records where `discount_duration_months` is less than or equal to the specified value.
      - name: filters[discount_duration_months_eq]
        in: query
        schema:
          type: integer
        description: Filter records where `discount_duration_months` is equal to the specified value.
      - name: filters[trial_period_days_gt]
        in: query
        schema:
          type: integer
        description: Filter records where `trial_period_days` is greater than the specified value.
      - name: filters[trial_period_days_gte]
        in: query
        schema:
          type: integer
        description: Filter records where `trial_period_days` is greater than or equalt to the specified value.
      - name: filters[trial_period_days_lt]
        in: query
        schema:
          type: integer
        description: Filter records where `trial_period_days` is less than the specified value.
      - name: filters[trial_period_days_lte]
        in: query
        schema:
          type: integer
        description: Filter records where `trial_period_days` is less than or equal to the specified value.
      - name: filters[trial_period_days_eq]
        in: query
        schema:
          type: integer
        description: Filter records where `trial_period_days` is equal to the specified value.
      - name: filters[amount_gt]
        in: query
        schema:
          type: string
        description: Filter records where `amount` is greater than the specified value.
      - name: filters[amount_gte]
        in: query
        schema:
          type: string
        description: Filter records where `amount` is greater than or equal to the specified value.
      - name: filters[amount_lt]
        in: query
        schema:
          type: string
        description: Filter records where `amount` is less than the specified value.
      - name: filters[amount_lte]
        in: query
        schema:
          type: string
        description: Filter records where `amount` is less than or equal to the specified value.
      - name: filters[amount_eq]
        in: query
        schema:
          type: string
        description: Filter records where `amount` is equal to the specified value.
      - name: filters[interval_eq]
        in: query
        schema:
          type:
          - string
          - 'null'
          enum:
          - null
          - month
          - year
          - lifetime
        description: Filter records by subscription interval. Accepted values are `month`, `year`, and `lifetime`.
      - name: filters[currency_eq]
        in: query
        schema:
          type: string
        description: Filter records by `currency`.
      - name: filters[consumer_email_eq]
        in: query
        schema:
          type: string
        description: Filter records by `consumer_email`.
      - name: filters[consumer_id_eq]
        in: query
        schema:
          type: string
        description: Filter records by `consumer_id`.
      - name: filters[plan_id_eq]
        in: query
        schema:
          type: string
        description: Filter records by `plan_id`.
      - name: filters[name_eq]
        in: query
        schema:
          type: string
        description: Filter records by consumer `name`.
      - name: interval
        in: query
        schema:
          type:
          - string
          - 'null'
          enum:
          - null
          - day
          - week
          - month
          - year
        description: 'Group records by time intervals. Accepted values: `day`, `week`, `month`, `year`.'
      - name: group_by
        in: query
        schema:
          type: array
          items:
            type:
            - string
            - 'null'
            enum:
            - null
            - interval
            - coupon_code
            - discount_percent
            - discount_duration_months
            - discount_duration
            - discount_amount
            - currency
            - amount
            - trial_period_days
            - name
            - consumer_email
            - consumer_id
            - plan_id
            - start_date
        description: 'Group by an array of properties. Accepted properties are: `interval`, `coupon_code`, `discount_percent`, `discount_duration_months`, `discount_duration`, `discount_amount`, `currency`, `amount`, `trial_period_days`, `name`, `consumer_email`, `consumer_id`, `plan_id`, `start_date`'
      - name: sort_by
        in: query
        schema:
          type:
          - string
          - 'null'
          enum:
          - null
          - interval_asc
          - interval_desc
          - coupon_code_asc
          - coupon_code_desc
          - discount_percent_asc
          - discount_percent_desc
          - discount_duration_months_asc
          - discount_duration_months_desc
          - discount_duration_asc
          - discount_duration_desc
          - discount_amount_asc
          - discount_amount_desc
          - currency_asc
          - currency_desc
          - trial_period_days_asc
          - trial_period_days_desc
          - name_asc
          - name_desc
          - consumer_email_asc
          - consumer_email_desc
          - consumer_id_asc
          - consumer_id_desc
          - plan_id_asc
          - plan_id_desc
          - start_date_asc
          - start_date_desc
        description: Sort results by value of a specific property + '_' + sort direction (Example - sort_by=start_date_asc, or sort_by=consumer_email_desc)
      responses:
        '200':
          description: See below for example responses
          content:
            application/json:
              schema:
                title: SubscriptionsResponse
                type: object
                properties:
                  data:
                    type: array
                    items:
                      title: SubscriptionAnalytics
                      type: object
                      properties:
                        interval:
                          type: string
                        coupon_code:
                          type: string
                        discount_percent:
                          type: number
                        discount_duration_months:
                          type: integer
                        discount_duration:
                          type: number
                        discount_amount:
                          type: number
                        currency:
                          type: string
                        amount:
                          type: string
                        trial_period_days:
                          type: integer
                        name:
                          type: string
                        consumer_email:
                          type: string
                        consumer_id:
                          type: string
                        plan_id:
                          type: string
                        start_date:
                          type: string
        '422':
          description: Unprocessable entity
          content:
            application/json:
              schema:
                $ref: '#/paths/~1v2~1consumers/get/responses/422/content/application~1json/schema'
components:
  securitySchemes:
    api_key:
      type: apiKey
      name: api_key
      in: query
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: OAuth access token
      description: OAuth access token of the consumer
